<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request convertation</title>
</head>
<body>
    <p>
        <h2>Отправка данных:</h2>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    </p>
    <p>
        <h2>Результат запроса:</h2>
        <pre>{{ response_text }}</pre>
    </p>
</body>
</html>